<%- include('../partials/nav') %>
<h1> User Info </h1>

<div class="container-sm">
    <form action="/drivers" method="POST">
        <fieldset>
            <h2><%= user.name %> <br> <%= user.googleId %> <br> <%= user.email %> <br> <img src= "<%= user.avatar %>"> </h2>


           
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>