<%- include('../partials/nav') %>
<h1> User Info </h1>

<div class="container-sm">
    <form action="/drivers" method="POST">
        <table>
            <tr>
              <th>Name</th>
              <th>Google ID</th>
              <th>GMAIL</th>
              <th>Avatar</th>
            </tr>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.googleId %></td>
              <td><%= user.email %></td>
              <td><img src= "<%= user.avatar %>"></td>

            </tr>
        
          </table>
    </form>
</div>

<%- include('../partials/footer') %>