<%- include('../partials/nav') %>

<div class="container-md">
    <ul>
        <% drivers.forEach(driver => {%>
            <li>
                <a href="/drivers/<%= driver._id %>">
                    <%= driver.name %>
                </a>
                <br>
                <a href="/drivers/<%= driver._id %>">
                    <img src="<%= driver.image %>" 
                </a>
            </li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer') %>