<%- include('../partials/nav') %>

<div class="container-md">
    <% if (driver.owner) {%>
        <small>Created by: <%= driver.owner.name %></small>
    <% } %>
    <div class="row justify-content-between">
        <article class="col-5 border border-dark">
            <div class="border border-dark text-center">
                <% if (driver.readyToEat) {%>
                    <h6>Ripe & Ready to Eat</h6>
                <% } else { %>
                    <h6>Not Ripe Yet</h6>
                <% } %>
            </div>
            <% if (driver.color) {%>
                <div class="color-div border border-dark text-center" style="background-color: <%= driver.color %>">
                </div>
            <% } %>
            <% if (driver.owner?._id.equals(user?._id)) {%>
                <div class="container-md">
                    <a href="/drivers/edit/<%= driver._id %>" class="btn btn-info m-3">
                        Edit <%= driver.name %>
                    </a>
                    <form action="/drivers/<%= driver._id %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger m-3" value="Delete <%= driver.name %>">
                    </form>
                </div>
            <% } %>
        </article>
    </div>
    <hr>
    <% if (user) { %>
        <div class="col-md-6">
            <form action="/comments/<%= driver._id %>" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">comment:</label>
                    <input class="form-control mb-1" type="text" name="note">
                    <input type="submit" class="btn btn-success" value="add comment">
                </fieldset>
            </form>
        </div>
    <% } %>
    <hr>
    <div class="container-md">
        <% if (driver.comments.length) { %>
            <!-- loop the comments and display -->
            <div class="container-sm m-4">
                <% driver.comments.forEach(comm => {%>
                    <div class="card mb-4 shadow">
                        <div class="card-body">
                            <p><%= comm.note %></p>
                            <div class="d-flex justify-content-between">
                                <small>author: <%= comm.author.name %></small>
                                <% if (user && comm.author?._id == user.id) { %>
                                    <form action="/comments/<%= driver._id%>/<%= comm._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-danger" value="X">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        <% } else { %>
            <p>No Comments Yet</p>
        <% } %>
    </div>
</div>
<%- include('../partials/footer') %>